.poster {
  object-fit: cover;

  &.poster-size {
    &-xs {
      width: 150px;
      height: 213px;
    }
    &-s {
      width: 176px;
      height: 250px;
    }
    &-m {
      width: 264px;
      height: 375px;
    }
    &-lg {
      width: 352px;
      height: 500px;
    }
    &-full {
      width: 100%;
    }
  }
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  min-width: 150px;
  min-height: 213px;
}
