.poster {
  &.poster-size {
    &-xs {
      width: auto;
      height: 213px;
    }
    &-s {
      width: auto;
      height: 250px;
    }
    &-m {
      width: auto;
      height: 375px;
    }
    &-lg {
      width: auto;
      height: 500px;
    }
  }
}
