@import url('./variable.css');
@import './reset';
@import './fonts';

body {
    font-family: 'Pretendard', sans-serif;
    color:var(--color-black);
}

input,
textarea,
select,
button {
  font: inherit;  
  color: inherit;
}