.vote {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn > button {
  max-width: 166px;
}

.canceled,
.one {
  min-width: 178px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selectedCandidates {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  gap: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  min-width: 342px;
  min-height: 213px;
  margin: 0 10px;
}

.candidate {
  display: flex;
}

.candidate > img {
  max-height: 213px;
}

.confirm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px 50px;
}

.complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  height: 100%;
}

dialog {
  padding: 20px 0px;
}

.loading > dialog {
  min-width: 333px;
}
