.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.voteinfo { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right {
  transform: rotate(180deg);
}