<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.votegaheneta.vote.mapper.VoteInfoMapper">
  <insert id="batchInsertVoteInfo" parameterType="java.util.List">
    INSERT INTO vote_info (user_id, vote_id, user_type, has_select)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.user.id}, #{item.vote.id}, #{item.userType}, #{item.hasSelect})
    </foreach>
  </insert>
</mapper>