.container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.realerror {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 2s ease-in-out infinite;
  margin-right: 20px;

}

/* 그림자 추가 */
.shadow {
  width: 200px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  animation: shadowScale 2s ease-in-out infinite; /* 크기 변화 애니메이션 */
}

/* 원형 이미지의 위아래 움직임 */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* 그림자의 크기 변화 */
@keyframes shadowScale {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.btn {
    position: absolute;
    top: 700px;
    width: 150px;
}