<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>검색 폼</title>
</head>
<body>
<a th:href="@{/api/election/1}">1번 선거 화면 입장</a>
<div>
  <form id="answerForm" th:action="@{/api/election/question/1}" method="post">
    <input type="text" name="answer" placeholder="질문에 대한 답변">
    <button type="submit">제출</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
  document.getElementById('answerForm').addEventListener('submit', function(e) {
    e.preventDefault(); // 기본 폼 제출 동작 방지

    const answer = document.querySelector('input[name="answer"]').value;
    const data = { answer: answer };

    axios.post('/api/election/question/1', data)
    .then(function (response) {
      console.log('Success:', response.data);
      // 성공 처리 로직
    })
    .catch(function (error) {
      console.error('Error:', error);
      // 에러 처리 로직
    });
  });


</script>
</body>
</html>
