.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 444px;
}

.voteinfo { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 133px;
}

.select > span {
  min-width: 57px;
  justify-content: center;
}

.right {
  transform: rotate(180deg);
}