.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 444px;
  overflow: auto;
  width: 90%;
}

.voteinfo { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 133px;
}

.select > span {
  min-width: 57px;
  justify-content: center;
}

.right {
  transform: rotate(180deg);
}

.title {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 30px;
  em {
    color : var(--color-main-pink);
  }
}