.chatBoard {
  position: relative;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px; 
  height: 100%;
  // overflow-y: auto;

  &.dark {
    color: #fff;
    .time {
      color : #fff;
    }
    .systemMessage {
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
    }
  }

  &.light {
    color: #333;
    .time {
      color : #333;
    }
    .systemMessage {
      text-align: center;
      color: #333;
      font-size: 14px;
    }

  }

}

.statusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  display: flex;
  gap: 8px;
  button {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
  }
}

.messageArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100% - 40px);
  overflow-y: auto; // 세로 스크롤 활성화
  
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }
}

.messageRow {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 1.5;

  &.systemMessage{
    justify-content: center;
    
    .time{
      display: none;
    }

    .username {
      display: none;
    }

  }
}

.username {
  font-weight: 500;
}

.content {
  word-break: break-all;
}


// ====================
// HEART
// ====================

.heartBox {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 40px;
  img {
    width: 20px;
    height: 20px;
  }
}


// ====================
// PARTICIPANT COUNT
// ====================

.participantCount {
  border: 1px solid #555;
  color: #eee;
  padding: 6px 16px 6px 26px;
  text-align: center;
  position: absolute;
  border-radius: 20px;
  right: 0;
  top: -42px;

  &.sessionCnt {
    top: 0px;
    color: #333;
  }

  span{
    &::after{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    background-color: var(--color-main-orange);
    }
  } 
}






