.streaming__section {
  position: relative;
  background-color: #111;
  width: 100%;
  height: 100vh;
  background: url(/src/assets/sample/streaming-sample.png) no-repeat center center ;
  background-size: cover;
  overflow: hidden;
}