.streaming__section {
  position: relative;
  width: 100%;
  flex:1;
  display: flex;
  flex-direction: column;
  // background: url(/src/assets/sample/streaming-sample.png) no-repeat center center ;
  // background-size: cover;
  // overflow: hidden;

  .tab__content {
    position: absolute;
    bottom: 0;
    flex: 1;
  }
  
}