.question-background {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/imgs/questionBackground.png');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
