.board { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text {
  display: flex;
  align-items: center;
  gap:10px
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px
}

.tag  {
  display: flex;
  gap: 10px;
}