.container {
  video {
    background-color: #ccc;
    // border-radius: 0 0 16px 16px;
  }
  .title {
    text-indent: -9999px;
    height: 0;
    overflow: hidden;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 14px;  
    padding-top: 14px;
    // border-radius: 0 0 10px 10px;

    > div{
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 10px;
      width: 44px;
      height: 44px;
      border-radius: 25px;
      cursor: pointer;
      
      &.startButton {
        &:disabled{
          &::before{
            width: 2;
            height: 10;
            background-color: #fff;
          }
          position: relative;
          background-color: rgba(255,255,255,1);
        }
        background-color: rgba(255,255,255,0.5);
      }
  
      &.stopButton {
        &:disabled{
          &:disabled::before{

          }
          background-color: rgba(254, 63, 120, 0.4);
        }
        background-color: rgba(254, 63, 120, 0.8);
      }
  
      &.microphone {
        &:disabled{
          &:disabled::before{
            
          }
          background-color: rgba(255,255,255,0.1)
        }
        background-color:rgba(255,255,255,0.5)
      }
    }
  }
}
