.container {
  background-color: #eee;

  .title {
    text-indent: -9999px;
    height: 0;
    overflow: hidden;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
  .buttons > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    
    
    &.startButton {
      background-color: rgba(51, 51, 51, 0.5);
    }

    &.stopButton {
      background-color: rgba(254, 63, 120, 0.565);
    }

    &.microphone {
      background-color: #333;
    }
  }
}
