.input {
    padding: 0px 14px;
    border: 1px solid var(--border-gray);
    border-radius: 8px;
    font-size: 14px;
    height: 40px;
    
    &:focus {
      outline: none;
      border-color: var(--color-main-orange);
    }
  
    &--error {
      border-color: var(--color-error);
    }
  
    &--search {
      
    }

    &--warning{
      border-color: var(--color-error);
    }

    &--filled--true {
      background-color: var(--color-bg-orange);
      border-color: rgba(0,0,0,0);
      &:focus {
        outline: none;
        border-color: rgba(0,0,0,0);
      }
    }

    &--disabled--true {
      background-color: var(--disabled-gray);
      border-color: var(--border-gray);
      color: var(--border-gray);
      cursor: not-allowed;
 
    }
  }



